/* normalization */
html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: url("../images/cursor.svg") 0 0, auto;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}
a {
    text-decoration: none;

}

button {
    border: none;
    padding: none;
    margin: none;
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;
}

input {
    background-color: none;
    border: none;
    outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}
ul, li {
    list-style: none;
}
.wrapper {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 0 24px;
}