/* variables */
:root {
    --dark-gray: #7A7482;
    --black: #110E12;
    --light-gray: #EFECF0;
}


/* fonts */
@font-face {
    font-family: 'inter-regular';
    src: url(../fonts/inter-regular.woff2) format("woff2"),
       url(../fonts/inter-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'inter-medium';
    src: url(../fonts/inter-medium.woff2) format("woff2"),
       url(../fonts/inter-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'inter-semibold';
    src: url(../fonts/inter-semibold.woff2) format("woff2"),
       url(../fonts/inter-semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/inter-bold.woff2) format("woff2"),
       url(../fonts/inter-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'inter-black';
    src: url(../fonts/inter-black.woff2) format("woff2"),
       url(../fonts/inter-black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
}


/* main styles */
.header__inner {
    border-top: 0.5px solid var(--dark-gray);
    border-bottom: 0.5px solid var(--dark-gray);
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo a {
    font-size: 16px;
    font-family: 'inter-black', sans-serif;
    color: var(--black);
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__nav a {
    color: var(--black);
    font-family: 'inter-regular', sans-serif;
    font-size: 16px;
    padding: 8px;
}
.header__nav a.active {
    font-family: 'inter-semibold', sans-serif;
    position: relative;

}
.header__nav a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 101px;
  height: 1.5px;
  background: var(--black);
}
.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__actions button {
    width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    border-radius: 50%;
}
.actions__profile {
    background-image: url("../images/profile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main {
    width: 100%;
    padding-top: 24px;
    display: flex;
    gap: 16px;
}
.sidebar {
    max-width: 260px;
    width: 100%;
    border-radius: 14px;
    background-color: var(--light-gray);
    min-height: 788px;
}
.sidebar__inner {
    padding: 24px 14px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.sidebar__search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px var(--dark-gray) solid;
    padding: 12px;
    background-color: #fff;
    border-radius: 14px;
}
.sidebar__search input {
    font-family: 'inter-regular', sans-serif;
    font-size: 12px;
    line-height: 130%;
    color: var(--dark-gray);
    width: 100%;
}
.sidebar__search input::placeholder {
    color: var(--dark-gray);
    font-family: 'inter-regular', sans-serif;
    font-size: 12px;
    line-height: 130%;
}